Creating Data 

<br>
<form (submit)="onSubmit()">
  <div>
    <label for="empName">EmpName:</label>
    <input type="text"  ID="empName" name="empName" [(ngModel)]="empName">
  </div>
  <div>
    <label for="empAge">EmpAge:</label>
    <input type="text"  ID="empAge" name="empAge" [(ngModel)]="empAge">
  </div>
  <div>
    <label for="empAddress">EmpAddress:</label>
    <input type="text"  ID="empAddress" name="empAddress" [(ngModel)]="empAddress">
  </div>
  <div>
    <label for="empDepartment">EmpDepartment:</label>
    <input type="text"  ID="empDepartment" name="empDepartment" [(ngModel)]="empDepartment">
  </div>
  <div>
    <label for="empRole">EmpRole:</label>
    <input type="text"  ID="empRole" name="empRole" [(ngModel)]="empRole">
  </div>
  <button type="submit">submit</button>
  
</form>


