Deleting Data

<br>
<form (submit)="onSubmit()">
    <div>
        <label for="id">ID:</label>
        <input type="text"  id="empName" name="id" [(ngModel)]="id">
      </div>
  <div>
    <label for="empName">EmpName:</label>
    <input type="text"  id="empName" name="empName" [(ngModel)]="empName">
  </div>
  <div>
    <label for="empAge">EmpAge:</label>
    <input type="text"  id="empAge" name="empAge" [(ngModel)]="empAge">
  </div>
  <div>
    <label for="empAddress">EmpAddress:</label>
    <input type="text"  id="empAddress" name="empAddress" [(ngModel)]="empAddress">
  </div>
  <div>
    <label for="empDepartment">EmpDepartment:</label>
    <input type="text"  id="empDepartment" name="empDepartment" [(ngModel)]="empDepartment">
  </div>
  <div>
    <label for="empRole">EmpRole:</label>
    <input type="text"  id="empRole" name="empRole" [(ngModel)]="empRole">
  </div>
  <button type="submit">submit</button>
  
</form>



